.hidden {
  display: none;
}
.show {
  display: block;
}
.container-clima {
  text-align: -webkit-center;
  padding: 25px;
}

.imagen-clima {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.modal-clima {
  align-self: center;
  margin-top: 20px;
}

.boton-modal {
  width: 50%;
  align-self: center;
  margin-bottom: 10px;
}
