.titulo-educacion {
    padding-top: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
  } 

  .titulo-color{
      color: #03a9f4;
  }
