.container-cv {
  display: flex;
  justify-content: space-evenly;
}

.ladoA {
  background-color: #003147;
  color: #fff;
  position: relative;
  padding: 50px;
}

.ladoB{
  position: relative;
  background-color: #fff;
  padding: 40px;
  text-align-last: start;
}
