#img-ocultar{
  display: none;
}
#img-ocultar2{
  display: none;
}

body{
  background-color: black;
}

.apps-container{
  display: block;
  list-style: border;
}

@media(max-width:615px) {
  .apps-container{
      display: block;
      text-align: -webkit-center;
  }
}