#img-ocultar{
  display: none;
}
#img-ocultar2{
  display: none;
}

.apps-container{
  display: flex;
  justify-content: space-evenly;
}

@media(max-width:615px) {
  .apps-container{
      display: block;
      text-align: -webkit-center;
  }
}