/*Header*/
.redes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .redes-container ul li {
    display: inline-block;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    text-align: center;
  }
  
  .redes-container ul li a {
    display: block;
    padding: 0 10px;
    background-color: #f3eaec;
    color: #333;
    line-height: 39px;
    font-size: 19px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    border-radius: 50%;
  }
  

  /*FOOTER*/
footer{
  background-color: rgba(15, 15, 15, 0.911);
  height: 200px;
  color: #f3eaec;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 50px;
}